{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user.student %}
    <h2>Courses</h2>
    {% if courses %} <!-- courses -->
    <ul>
        {% for course in courses %}
        <li><a href="/avalita/{{ course.id }}/">{{course.code}}: {{ course.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %} <!-- courses -->
    <p>You have not taken any course!</p>
    {% endif %} <!-- courses -->
{% elif user.professor %} <!-- hasattr -->
    <h2>Courses</h2>
    {% if courses %} <!-- courses -->
    <ul>
        {% for course in courses %}
        <li><a href="/avalita/{{ course.id }}/">{{course.code}}: {{ course.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %} <!-- courses -->
    <p>You have not given any course!</p>
    {% endif %} <!-- courses -->
    <p><a href="{% url 'add_course' %}">Add Course</a></p>
{% else %} <!-- hasattr -->
    <p>You are not a student nor a professor! </p>
{% endif %} <!-- hasattr -->
<p><a href="{% url 'home' %}">Home</a></p>
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %} <!-- user.is_authenticated -->
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %} <!-- user.is_authenticated -->
{% endblock %}
