{% extends 'base.html' %}

{% block title %}{{ course.code }}{% endblock %}

{% block content %}
<h1>{{ course.code }}: {{course.title}}</h1>
{% if user.is_authenticated %}
{% if user.student %}
<h2>Your Ratings</h2>
<form action="{% url 'vote' rating.id %}" method="post">
    {% csrf_token %}
    <label>General:</label>
    <input type="number" name="general" min="1" max="5" value="{{ rating.general }}"><br>

    <label>Coherence:</label>
    <input type="number" name="coherence" min="1" max="5" value="{{ rating.coherence }}"><br>

    <label>Understanding:</label>
    <input type="number" name="understanding" min="1" max="5" value="{{ rating.understanding }}"><br>

    <label>Easiness:</label>
    <input type="number" name="easiness" min="1" max="5" value="{{ rating.easiness }}"><br>

    <input type="submit" value="Vote">
</form>

{% elif user.professor %} <!-- hasattr -->
<p><a href="{% url 'delete_course' course.id %}">Delete this course</a></p>
{% else %} <!-- hasattr -->
<p>You are not a student nor a professor! </p>
{% endif %} <!-- hasattr -->

<h2>Professors</h2>
<ul>
    {% for professor in course.professors.all %}
    <li>{{ professor }}</li>
    {% endfor %}
</ul>

<h2>Students</h2>
<ul>
    {% for student in course.students.all %}
    <li>{{ student }}</li>
    {% endfor %}
</ul>

<p><a href="{% url 'home' %}">Home</a></p>
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %} <!-- user.is_authenticated -->
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %} <!-- user.is_authenticated -->
{% endblock %}
